header
{
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body
{
  background-color: #1e1e1e;
  width: 85%; 
  margin-left:auto; 
  margin-right:auto;
}

#scrollToTopButton
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 20px;
  background-color: #333333; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
