/* Стили для шапки */
header {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-right: 60px;
}

.logo h1 {
  font-size: 24px; 
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid #fff;
  margin: 0 20px; /* Расстояние между линией и меню */
  height: 1px;
  flex-grow: 1; /* Равномерное распределение пространства между логотипом и меню */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff6600;
}

