nav
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#scrollToTopButton
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 20px;
  background-color: #333333;
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body
{
  background-color: #1e1e1e;
  color: #fff;
  font-size: 20px;
  h4
  {
      color:#ff0000;
  }
  slider
  {
    display: flex;
    text-align: center;
    transition: transform 0.5s ease-in-out;
  }
}


