header
{
  background-color: #1e1e1e;
  color: #fff;
}
.logo h1
{
  text-align: center;
  color:#eeff00;
}
.logo img
{
  text-align: center
}
#scrollToTopButton
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 20px;
  background-color: #333333;
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body
{
    background-color: #1e1e1e;
    color: #fff;
    font-size: 20px;
    text-align: center;
    h4
    {
        color:#ff0000;
    }
}






