header
{
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scrollToTopButton
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 20px;
  background-color: #333333; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
nav a
{
    color: #fff;
}
body
{
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    h4
    {
        color:#ff0000
    }
}



